@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Source+Code+Pro:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "DM Sans", "Prompt", "Figtree", "Source Code Pro", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --spacing-13: 3.25rem;
  --spacing-15: 3.75rem;
  --spacing-26: 6.5rem;

  --shadow-primary: 0px 9.9px 21.6px rgba(136, 202, 41, 0.41);
  --shadow-hsk: 0px 10px 22px rgb(224, 65, 65, 0.4);

  --animate-up-down: up-down 3s ease-in-out infinite;

  @keyframes up-down {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
  }
}

@utility bg-red {
  background-color: #B71F1F;
}

@utility text-red {
  color: #B71F1F;
}

@utility border-red {
  border-color: #B71F1F;
}

@utility outline-red {
  outline-color: #B71F1F;
}

.typewriter-cursor {
  color: black; /* Change this to your desired cursor color */
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  } /* Change this to match the cursor color */
}
